In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
# Creating 'Dataframe' by passing a numpy array

In [12]:
dates = pd.date_range('20020301', periods = 6)

In [13]:
dates

DatetimeIndex(['2002-03-01', '2002-03-02', '2002-03-03', '2002-03-04',
               '2002-03-05', '2002-03-06'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df = pd.DataFrame(np.random.randn(6,4),index=dates, columns= list('ABCD'))

In [20]:
df

                   A         B         C         D
2002-03-01  0.531734 -0.340962 -0.014103  0.670016
2002-03-02  0.849452  2.259640 -0.165700 -0.005943
2002-03-03  0.068994  0.294980 -0.992982  0.063829
2002-03-04 -0.095206  0.712321 -0.097197  0.015813
2002-03-05  1.879506  1.834478 -1.501446  0.382801
2002-03-06  0.386809 -1.892816  0.425643  0.850305

In [23]:
from tensorflow import keras

In [24]:
dataset = keras.datasets.mnist.load_data()

In [25]:
dataset

((array([[[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]],

         [[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]],

         [[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]],

         ...,

         [[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]],

         [[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]],

         [[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]]], dtype=uint8),
  array([5, 0, 4, ..., 5, 6, 8], dtype=uint8)),
 (array([[[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]],

         [[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]],

         [[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]],

         ...,

         [[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]],

         [[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]],

         [[0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          ...,
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0],
          [0, 0, 0, ..., 0, 0, 0]]], dtype=uint8),
  array([7, 2, 1, ..., 4, 5, 6], dtype=uint8)))

In [26]:
train_df = pd.DataFrame(list(zip(dataset[0][0], dataset[0][1])), columns =['image', 'label'])

In [28]:
train_df

                                                   image  label
0      [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      5
1      [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      0
2      [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      4
3      [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      1
4      [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      9
...                                                  ...    ...
59995  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      8
59996  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      3
59997  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      5
59998  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      6
59999  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      8

[60000 rows x 2 columns]

In [43]:
test_df = pd.DataFrame(list(zip(dataset[1][0], dataset[1][1])), columns =['image', 'label'])

In [44]:
test_df

                                                  image  label
0     [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      7
1     [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      2
2     [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      1
3     [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      0
4     [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      4
...                                                 ...    ...
9995  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      2
9996  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      3
9997  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      4
9998  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      5
9999  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...      6

[10000 rows x 2 columns]

In [48]:
train_df.to_csv(r'C:\Users\user\PandasPracttrain.csv', index=False)

In [49]:
test_df.to_csv(r'C:\Users\user\PandasPracttest.csv', index=False)

In [50]:
tx = train_df = pd.read_csv('PandasPracttrain.csv')

In [51]:
tx

       Unnamed: 0                                              image  label
0               0  [[  0   0   0   0   0   0   0   0   0   0   0 ...      5
1               1  [[  0   0   0   0   0   0   0   0   0   0   0 ...      0
2               2  [[  0   0   0   0   0   0   0   0   0   0   0 ...      4
3               3  [[  0   0   0   0   0   0   0   0   0   0   0 ...      1
4               4  [[  0   0   0   0   0   0   0   0   0   0   0 ...      9
...           ...                                                ...    ...
59995       59995  [[  0   0   0   0   0   0   0   0   0   0   0 ...      8
59996       59996  [[  0   0   0   0   0   0   0   0   0   0   0 ...      3
59997       59997  [[  0   0   0   0   0   0   0   0   0   0   0 ...      5
59998       59998  [[  0   0   0   0   0   0   0   0   0   0   0 ...      6
59999       59999  [[  0   0   0   0   0   0   0   0   0   0   0 ...      8

[60000 rows x 3 columns]

In [53]:
ty = test_df = pd.read_csv('PandasPracttest.csv')

In [54]:
ty

                                                  image  label
0     [[  0   0   0   0   0   0   0   0   0   0   0 ...      7
1     [[  0   0   0   0   0   0   0   0   0   0   0 ...      2
2     [[  0   0   0   0   0   0   0   0   0   0   0 ...      1
3     [[  0   0   0   0   0   0   0   0   0   0   0 ...      0
4     [[  0   0   0   0   0   0   0   0   0   0   0 ...      4
...                                                 ...    ...
9995  [[  0   0   0   0   0   0   0   0   0   0   0 ...      2
9996  [[  0   0   0   0   0   0   0   0   0   0   0 ...      3
9997  [[  0   0   0   0   0   0   0   0   0   0   0 ...      4
9998  [[  0   0   0   0   0   0   0   0   0   0   0 ...      5
9999  [[  0   0   0   0   0   0   0   0   0   0   0 ...      6

[10000 rows x 2 columns]

In [55]:
tr_array = np.array(tx)

In [56]:
tr_array

array([[0,
        '[[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   3  18  18  18 126 136\n  175  26 166 255 247 127   0   0   0   0]\n [  0   0   0   0   0   0   0   0  30  36  94 154 170 253 253 253 253 253\n  225 172 253 242 195  64   0   0   0   0]\n [  0   0   0   0   0   0   0  49 238 253 253 253 253 253 253 253 253 251\n   93  82  82  56  39   0   0   0   0   0]\n [  0   0   0   0   0   0   0  18 219 253 253 253 253 253 198 182 247 241\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0  80 156 107 253 253 205  11   0  43 154\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0  14   1 154 253  90   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0 139 253 190   2   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0  11 190 253  70   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0  35 241 225 160 108   1\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0  81 240 253 253 119\n   25   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0  45 186 253 253\n  150  27   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  16  93 252\n  253 187   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 249\n  253 249  64   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0  46 130 183 253\n  253 207   2   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0  39 148 229 253 253 253\n  250 182   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0  24 114 221 253 253 253 253 201\n   78   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0  23  66 213 253 253 253 253 198  81   2\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0  18 171 219 253 253 253 253 195  80   9   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0  55 172 226 253 253 253 253 244 133  11   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0 136 253 253 253 212 135 132  16   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]]',
        5],
       [1,
        '[[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  51 159 253\n  159  50   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0  48 238 252 252\n  252 237   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0  54 227 253 252 239\n  233 252  57   6   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0  10  60 224 252 253 252 202\n   84 252 253 122   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0 163 252 252 252 253 252 252\n   96 189 253 167   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0  51 238 253 253 190 114 253 228\n   47  79 255 168   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0  48 238 252 252 179  12  75 121  21\n    0   0 253 243  50   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0  38 165 253 233 208  84   0   0   0   0\n    0   0 253 252 165   0   0   0   0   0]\n [  0   0   0   0   0   0   0   7 178 252 240  71  19  28   0   0   0   0\n    0   0 253 252 195   0   0   0   0   0]\n [  0   0   0   0   0   0   0  57 252 252  63   0   0   0   0   0   0   0\n    0   0 253 252 195   0   0   0   0   0]\n [  0   0   0   0   0   0   0 198 253 190   0   0   0   0   0   0   0   0\n    0   0 255 253 196   0   0   0   0   0]\n [  0   0   0   0   0   0  76 246 252 112   0   0   0   0   0   0   0   0\n    0   0 253 252 148   0   0   0   0   0]\n [  0   0   0   0   0   0  85 252 230  25   0   0   0   0   0   0   0   0\n    7 135 253 186  12   0   0   0   0   0]\n [  0   0   0   0   0   0  85 252 223   0   0   0   0   0   0   0   0   7\n  131 252 225  71   0   0   0   0   0   0]\n [  0   0   0   0   0   0  85 252 145   0   0   0   0   0   0   0  48 165\n  252 173   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0  86 253 225   0   0   0   0   0   0 114 238 253\n  162   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0  85 252 249 146  48  29  85 178 225 253 223 167\n   56   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0  85 252 252 252 229 215 252 252 252 196 130   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0  28 199 252 252 253 252 252 233 145   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0  25 128 252 253 252 141  37   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]]',
        0],
       [2,
        '[[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0  67 232  39   0   0   0   0   0]\n [  0   0   0   0  62  81   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0 120 180  39   0   0   0   0   0]\n [  0   0   0   0 126 163   0   0   0   0   0   0   0   0   0   0   0   0\n    0   2 153 210  40   0   0   0   0   0]\n [  0   0   0   0 220 163   0   0   0   0   0   0   0   0   0   0   0   0\n    0  27 254 162   0   0   0   0   0   0]\n [  0   0   0   0 222 163   0   0   0   0   0   0   0   0   0   0   0   0\n    0 183 254 125   0   0   0   0   0   0]\n [  0   0   0  46 245 163   0   0   0   0   0   0   0   0   0   0   0   0\n    0 198 254  56   0   0   0   0   0   0]\n [  0   0   0 120 254 163   0   0   0   0   0   0   0   0   0   0   0   0\n   23 231 254  29   0   0   0   0   0   0]\n [  0   0   0 159 254 120   0   0   0   0   0   0   0   0   0   0   0   0\n  163 254 216  16   0   0   0   0   0   0]\n [  0   0   0 159 254  67   0   0   0   0   0   0   0   0   0  14  86 178\n  248 254  91   0   0   0   0   0   0   0]\n [  0   0   0 159 254  85   0   0   0  47  49 116 144 150 241 243 234 179\n  241 252  40   0   0   0   0   0   0   0]\n [  0   0   0 150 253 237 207 207 207 253 254 250 240 198 143  91  28   5\n  233 250   0   0   0   0   0   0   0   0]\n [  0   0   0   0 119 177 177 177 177 177  98  56   0   0   0   0   0 102\n  254 220   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 169\n  254 137   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 169\n  254  57   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 169\n  254  57   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 169\n  255  94   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 169\n  254  96   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 169\n  254 153   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 169\n  255 153   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  96\n  254 153   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]]',
        4],
       ...,
       [59997,
        '[[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0  96 121 213 255 255 121   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  52 108 157\n  241 251 253 253 242 146  69   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0  10  94 164 241 253 253\n  223 159 131  26  23   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0  60 102 218 253 253 216 117  39\n   27   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0  54 205 253 253 253 147  28   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0  60 240 253 253 253 243  31   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0  26  80 208 253 253 147   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0  36 222 253 253 121   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0 177 242 253 248 147 148  91   2\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0  19 120 197 253 254 253  97\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0  72 192 254 254\n   40   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   6 242 253\n   39   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 121 253\n  159   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 108 253\n  173   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 108 253\n  173   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 108 253\n   74   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0  22   0   0   0   0   0   0   0   0   0  20 201 253\n   39   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0 196 161  41   5   0   0   0   3  27  98 206 253 194\n   15   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0 115 240 252 163 147 147 147 158 253 253 255 184  67\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0 157 253 253 253 253 253 253 253 121   6   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]]',
        5],
       [59998,
        '[[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n   55 192 230  27   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   8\n  152 252 193  27   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   8 129\n  252 190   9   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 155 252\n  210  14   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  62 216 199\n   66   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0  11  43 254 222  62\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0 143 252 222  16   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0 169 246 208  17   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0  11 143 246 236 101   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0  69 226 199 111   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0 254 253  21   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0 124 253 110   5   0   0   0   0   0\n   22 128 191 190 137  28   0   0   0   0]\n [  0   0   0   0   0   0   0   0 112 241 170  32   0   0   0  31 127 180\n  237 252 253 252 242  42   0   0   0   0]\n [  0   0   0   0   0   0   0   6 190 226   0   0   0   0  27 218 252 194\n  162  84  84 131 232  35   0   0   0   0]\n [  0   0   0   0   0   0   0 110 252 147   0   0   0   0 194 253 217  56\n    0   0  18 216 187   0   0   0   0   0]\n [  0   0   0   0   0   0   0 233 216  18   0   0   0  27 194 150 106   9\n    0 124 255 186   9   0   0   0   0   0]\n [  0   0   0   0   0   0  64 247 110   0   0   0   0   0   0   0   0  87\n  146 163  63  16   0   0   0   0   0   0]\n [  0   0   0   0   0   0  14 236 128   0   0   0  11  22  66 128 206 231\n  178  12   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0  28 239 196 169  82 169 211 252 252 128  84   7\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0  36 241 252 252 253 217 138  42  42   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]\n [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0\n    0   0   0   0   0   0   0   0   0   0]]',
        6],
       [59999,